
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Blog Page</h1>
    <h4>@ViewBag.name</h4>
</body>
</html>
